@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<article class="section">
    <div class="container content-page">
        <header class="blog-post__header">
            <h1>@Model.Name</h1>
            <time datetime="@Model.CreateDate.ToString("yyyy-MM-dd")">
                @Model.CreateDate.ToString("d MMMM yyyy")
            </time>
        </header>
        <div class="blog-post__body">
            @Html.Raw(Model.Value("bodyText"))
        </div>
    </div>
</article>
