@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentPage>
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<section class="section">
    <div class="container content-page">
        <h1>@Model.Name</h1>
        @await Html.GetBlockGridHtmlAsync(Model.BodyText)
    </div>
</section>
